# ======================
# Build
# ======================
build/
.gradle/
out/
target/

# ======================
# Logs
# ======================
*.log

# ======================
# Binaries
# ======================
*.class
*.jar
*.war
*.ear

# allow gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iws
*.iml
*.ipr

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Eclipse / STS
# ======================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# ======================
# NetBeans
# ======================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ======================
# Docker / Kubernetes
# ======================
*.tar
*.env

# ======================
# Misc
# ======================
HELP.md